<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HeimaShop</display-name>
  <welcome-file-list>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.iteason.web.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActiveServlet</display-name>
    <servlet-name>ActiveServlet</servlet-name>
    <servlet-class>com.iteason.web.servlet.ActiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActiveServlet</servlet-name>
    <url-pattern>/active</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrdocutServlet</display-name>
    <servlet-name>PrdocutServlet</servlet-name>
    <servlet-class>com.iteason.web.servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrdocutServlet</servlet-name>
    <url-pattern>/product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CallbackServlet</display-name>
    <servlet-name>CallbackServlet</servlet-name>
    <servlet-class>com.iteason.web.servlet.CallBackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CallbackServlet</servlet-name>
    <url-pattern>/callback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.iteason.web.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductToCartServlet</display-name>
    <servlet-name>AddProductToCartServlet</servlet-name>
    <servlet-class>com.iteason.web.servlet.AddProductToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductToCartServlet</servlet-name>
    <url-pattern>/addProductToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryList</display-name>
    <servlet-name>CategoryList</servlet-name>
    <servlet-class>com.iteason.web.servlet.CategoryList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryList</servlet-name>
    <url-pattern>/categoryList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUsernameServlet</display-name>
    <servlet-name>CheckUsernameServlet</servlet-name>
    <servlet-class>com.iteason.web.servlet.CheckUsernameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUsernameServlet</servlet-name>
    <url-pattern>/checkUsername</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClearCartServlet</display-name>
    <servlet-name>ClearCartServlet</servlet-name>
    <servlet-class>com.iteason.web.servlet.ClearCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClearCartServlet</servlet-name>
    <url-pattern>/clearCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCartItemServlet</display-name>
    <servlet-name>DeleteCartItemServlet</servlet-name>
    <servlet-class>com.iteason.web.servlet.DeleteCartItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCartItemServlet</servlet-name>
    <url-pattern>/deleteCartItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindProductByIdServlet</display-name>
    <servlet-name>FindProductByIdServlet</servlet-name>
    <servlet-class>com.iteason.web.servlet.FindProductByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindProductByIdServlet</servlet-name>
    <url-pattern>/findProductById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogingServlet</display-name>
    <servlet-name>LogingServlet</servlet-name>
    <servlet-class>com.iteason.web.servlet.LogingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogingServlet</servlet-name>
    <url-pattern>/loging</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductInfoServlet</display-name>
    <servlet-name>ProductInfoServlet</servlet-name>
    <servlet-class>com.iteason.web.servlet.ProductInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductInfoServlet</servlet-name>
    <url-pattern>/productInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitOrderServlet</display-name>
    <servlet-name>SubmitOrderServlet</servlet-name>
    <servlet-class>com.iteason.web.servlet.SubmitOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitOrderServlet</servlet-name>
    <url-pattern>/submitOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateImformationServlet</display-name>
    <servlet-name>UpdateImformationServlet</servlet-name>
    <servlet-class>com.iteason.web.servlet.UpdateImformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateImformationServlet</servlet-name>
    <url-pattern>/updateImformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckImgServlet</display-name>
    <servlet-name>CheckImgServlet</servlet-name>
    <servlet-class>com.iteason.web.servlet.CheckImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckImgServlet</servlet-name>
    <url-pattern>/checkCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyOrdersServlet</display-name>
    <servlet-name>MyOrdersServlet</servlet-name>
    <servlet-class>com.iteason.web.servlet.MyOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyOrdersServlet</servlet-name>
    <url-pattern>/myOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.iteason.web.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.iteason.web.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BaseServlet</display-name>
    <servlet-name>BaseServlet</servlet-name>
    <servlet-class>com.iteason.web.servlet.BaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseServlet</servlet-name>
    <url-pattern>/BaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddProductServlet</display-name>
    <servlet-name>AdminAddProductServlet</servlet-name>
    <servlet-class>com.iteason.web.servlet.AdminAddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddProductServlet</servlet-name>
    <url-pattern>/adminAddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditForwordCidServlet</display-name>
    <servlet-name>EditForwordCidServlet</servlet-name>
    <servlet-class>com.iteason.web.servlet.EditForwordCidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditForwordCidServlet</servlet-name>
    <url-pattern>/editForwordCid</url-pattern>
  </servlet-mapping>
</web-app>